@model IEnumerable<IT_proekt.Models.Item>
@{
    ViewBag.Title = "AddToCart";
}


    <h3>Cart Page</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Name</th>
           
        </tr>
        @foreach (IT_proekt.Models.Item item in (List<IT_proekt.Models.Item>)Session["cart"])
        {
            <tr>
                <td>@item.pizza.Name</td>
              
            </tr>
        }
     
    </table>
    <br>
    <a href="@Url.Action("Index", "Pizzas")">Continue Shopping</a>