
@{
    ViewBag.Title = "Payment";
}

    <body style="background-color:antiquewhite">

        <h2>Payment</h2>

        <div class="row">
            <div class="col-lg-6 text-center" style="border:2px solid darkred; background-color:lightyellow ">
                <h2>Enter CreditCard Details</h2>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label for="inputEmail4">Credit card number</label>
                            <input type="password" class="form-control" placeholder="......" style="max-width:100%">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label for="inputCity">Name on credit card</label>
                            <input type="text" class="form-control" style="max-width:100%">
                        </div>

                        <div class="form-group col-md-2">
                            <label for="inputState">CVC</label>
                            <input type="text" class="form-control" id="inputZip">

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Expires</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="MM">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4"></label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="YY" style="margin-top:5px;">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-danger" style="width:100px; margin-left:50vh; margin-bottom:20px;">Pay</button>
                </form>
                <div class="col-lg-6">
                    <a href="@Url.Action("MyOrder", "Pizzas")" class="btn-link">Back</a>

                </div>
            </div>
        </div>

    </body>