@{
    ViewBag.Title = "Contact";
}


<body style="background-color:antiquewhite">
    <div class="row">
        <div class="col-md-4">
            <h2>Contact us</h2>
            <h5>Phone 1: <strong>02 2344 421</strong></h5>
            <h5>Phone 2: <strong>02 2311 411</strong></h5>
            <h5>Mobile phone: <strong>072 311 432</strong></h5>


        </div>

        <div class="col-md-8" style="margin-top:5%;">
            <div class="gmap_canvas"><iframe style="width:100vh;height:50vh;" id="gmap_canvas" src="https://maps.google.com/maps?q=Finki&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>

        </div>
    </div>
</body>
