@{
    ViewBag.Title = "Home Page";

}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
        <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>

        <style>
            #slika1{
                
            }
            .container {
                position: relative;
               
            }

            .image1{
                opacity:0.5
            }

              image1:hover {
                    opacity: 1;
                    cursor: pointer;
                    transition: opacity .25s ease-in-out;
                }
            
            .container .text1 {
                position: absolute;
                top: 35%;
                z-index:999;
                margin-left:20%;
                color:white;
            }
          
            
        </style>
    </head>
<body style="background-color:antiquewhite">
    <div class="row" >
        <div class="col-lg-12 text-center">
            <div id="demo" class="carousel slide" data-ride="carousel" data-interval="2000">
                <ol class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>


                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Images/pizza.jpg" style="width:1000vh;height:80vh;" />
                    </div>
                    <div class="item">
                        <img src="~/Images/hot-pizza-slice-with-melting-cheese_34936-282.jpg" style="width:1000vh;height:80vh;" />
                    </div>
                    <div class="item">
                        <img src="~/Images/delicious-fresh-pizza-served-wooden-table_127657-159.jpg" style="width:1000vh;height:80vh;" />
                    </div>

                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Our Story</h2>
            <hr style="background-color:darkred; width:50vh; height:1vh"/>
            <p>
                We're a traditional pizza restaurant in Skopje since 1995.
                Since we opened our first store, we’ve been making our thin crust pizza from scratch when you order it.
                And we still use stone hearth ovens! That’s one of the reasons our unique pizzas are worth the wait!
                We pride ourselves in offering you the very best pizza and we value your patronage.
                We aim to serve the highest quality products and provide uncompromising heartfelt services to our valued guests and community.
                We've gained a reputation for working with the finest quality ingredients no matter what.
                For those ones that are lazy while their stomach is aching from hunger,
                don't think you're going to wait for us whole day, you're getting your wood oven pizza on your doorstep immediately!
            </p>
        </div>
     
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Our mission</h2>
            <hr style="background-color:darkred; width:50vh; height:1vh" />
        </div>
        <div class="col-lg-4 container">
            <img src="~/Images/pizza.jpg" class="img-responsive image1" />
            <div class="text1">
                <h2>EXCELENT PREPARATION</h2>
            </div>
        </div>
        <div class="col-lg-4 container">
            <img src="~/Images/pizza.jpg" class="img-responsive image1" />
            <div class="text1">
                <h2>SATISFACTION</h2>
            </div>
        </div>
        <div class="col-lg-4 container">
            <img src="~/Images/pizza.jpg" class="img-responsive image1" />
            <div class="text1">
                <h2>WELCOMING SERVICE</h2>
            </div>
        </div>
    </div>


</body>



